@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.AboutContainer {
    width: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.serviceGoal1{
    text-align: left;
    padding-left: 0px;  /* 왼쪽에 공간을 추가 */
}

.drugImg {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.drugImg img {
    height: 350px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-description {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 85%; /* Center content */
    
}

.about-description p {
    margin: 10px 0;
}

.about-description ul {
    padding-left: 20px;
}

.about-description li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-description li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-description li strong {
    display: block;
    margin-bottom: 5px;
}

.text_search input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-page {
    margin: 20px auto;
    max-width: 800px; /* Center content */
    padding: 0 20px; /* Add padding to content */
}

.searchwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.text_search {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    width: 600px;
}

.text_search div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 간격 조정 */
}

.text_search input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text_search button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text_search button:hover {
    background-color: #0056b3;
}

.text_search button img {
    height: 24px;
    width: 24px;
    margin-left: 5px;
}

.initial_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.initial_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.initial_buttons button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.initial_buttons button:hover {
    background-color: #e0e0e0;
    transform: translateY(-3px);
}

.search_results .innerwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_results ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.search_results li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search_results li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search_results .thumb img {
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}

.searchImg img {
    height: 24px;
    width: 24px;
}

.text_search button img {
    height: 16px;
    width: 16px;
}

.text_search button:last-child img {
    height: 24px;
    width: 24px;
}

.fade-enter {
    opacity: 0;
    transform: translateY(10px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 300ms, transform 300ms;
}

@media (min-width: 1024px) {
    .search_results ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1023px) {
    .search_results ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
