.SignUpContainer {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.SignUpContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

.SignUpForm label {
    display: block;
    margin-bottom: 10px;
}

.SignUpForm input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.SignUpForm button {
    width: 100%;
    padding: 10px;
    background-color: #3373b7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.SignUpForm button:hover {
    background-color: #0056b3;
}
